.wordScrambleMain {
    width: 40rem;
    margin: 0 auto;
}
.lang-select {
    width: 10rem;
    margin: 0 1rem;
}
.mainSentenceRow {
    display: flex;
    width: inherit;
    background-color:beige;
}
.translationRow {
    margin: 0.3rem 0;
    display: flex;
    align-items: center;
    width: inherit;
}
.inline-blank {
    padding: 0.1rem 0.2rem;
    margin: 0.2rem 0.2rem 0 0.2rem;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    border-color: darkcyan;
}
.correct {
    background-color:limegreen;
}
.incorrect {
    background-color:red;
}
.hide-solution {
    background-color: white;
}

.draggablesTop {
    width: inherit;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    background-color: honeydew;
}
.draggable {
    padding: 0.1rem 0.2rem;
    margin: 0.2rem 0.2rem 0 0.2rem;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    border-color:darkslategray;
}
.draggable:hover {
    background-color:lavender;
}
.highlight {
    background-color:lightgreen;
}
.target-cell {
    margin: 0.25rem 0 0.25rem;
}